/* comment layout*/
.comment-body{
	vertical-align: top;
	/*width: 78%;*/
	word-wrap:break-word;
	/*padding: 0px 5px;*/
	display: inline-block;
}

.comment-image{
	padding: 0px !important;
}
.fa{
	cursor: pointer;
}