<template name="comment_single">
    {{#each data}}
    <li>
        <div class="row">
            <div class="col l1 m1 s2 comment-image">
                <img src="http://f.blog.xuite.net/f/0/a/b/12449715/blog_36493/txt/249250103/0.jpg" alt="" class="responsive-img">
            </div>
            <div class="col l11 m11 s10">
                <div class="comment-body">
                    <span class="comment-body__information">{{ name }}</span>
                    <div class="comment-body__content">
                        {{{ content }}}
                    </div>
                    <div class="comment-body__star"><i class="fa fa-heart-o">{{ star }}</i>
                    </div>
                </div>
            </div>
        </div>
    </li>
    {{/each}}
</template>
