<template name="Home">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">首頁</a>
                {{#if root}}
                <a class="navbar-brand test" href="#">測試</a>
                <a class="navbar-brand clear" href="#">刪除</a>
                {{/if }}
                <a class="navbar-brand" href="#">{{> loginButtons}}</a>
            </div>
        </div>
    </nav>
    {{> season_block }}
</template>
