<template name="Home">
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo right">JP Drama</a>
            <ul id="nav-mobile" class="left side-nav">
                <li><a class="navbar-brand" href="/">首頁</a></li>
                {{#if root}}
                <li><a class="navbar-brand test" href="#">測試</a></li>
                <li><a class="navbar-brand clear" href="#">刪除</a></li>
                {{/if }}
                <li><a class="navbar-brand" href="#">{{> loginButtons}}</a></li>
            </ul>
            <!-- Include this line below -->
            <a class="button-collapse" href="#" data-activates="nav-mobile"><i class="mdi-navigation-menu"></i></a>
            <!-- End -->
        </div>
    </nav>
    {{> season_block }}
    <script>$(".button-collapse").sideNav();</script>
</template>
