<template name="Index">
    <div class="container-heightall container-background">
    	<div class="row" style="height:20%;"></div>
    	<div class="row">
    		<div class="col l8 offset-l2 s12 m12">
    			<div class="center-align introduction-test-skin">
    				<h1>Janpan Drama</h1>
    				<h3>快速尋找眾人推薦的日劇</h3>
    				<p>看日劇找不到好看的？來尋找推薦日劇吧！</p>
    				<br>
    				<a href="/home"><button type="button" class="btn btn-danger">尋找眾人推薦的日劇</button></a>
    			</div>
    		</div>
    	</div>
    </div>
</template>
