/* CSS declarations go here */
.container-heightall{
	height: 100%;
}
.container-background:before{
	background-image: url(/images/background.jpg);
	background-position: center center;
	background-size: cover;
	content: "";
	position: absolute;
	left: 0px;
	top: 0px;
	height: 100%;
	width: 100%;
	opacity: 0.2;
	z-index: 10;
}
.container-background:after{
	content: "";
	position: absolute;
	left: 0px;
	top: 0px;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: 0.5;
	z-index: 20;
}
.introduction-test-skin{
	position: relative;
	font-weight: bold;
	color: #FFF;
	z-index: 30;
}