<template name="season_block">
    <div class="">
        <div class="row season-background">
            <!-- These data come from season_detail.js -->
            <div id="season-1" class="season-range col l3 m6 s12">
                <h4>冬季</h4>
                {{#each season_1}}
                <ul class="seanson-list">
                    <li>
                        <i class="fa fa-heart">{{ star }}</i><a data-toggle="modal" data-target="#myModal" >{{ name }}</a>
                    </li>
                </ul>
                {{/each}}
            </div>
            <div id="season-4" class="season-range col l3 m6 s12">
                <h4>春季</h4>
                {{#each season_4}}
                <ul class="seanson-list">
                    <li>
                        <i class="fa fa-heart">{{ star }}</i><a data-toggle="modal" data-target="#myModal" >{{ name }}</a>
                    </li>
                </ul>
                {{/each}}
            </div>
            <div id="season-7" class="season-range col l3 m6 s12">
                <h4>夏季</h4>
                {{#each season_7}}
                <ul class="seanson-list">
                    <li>
                        <i class="fa fa-heart">{{ star }}</i><a data-toggle="modal" data-target="#myModal" >{{ name }}</a>
                    </li>
                </ul>
                {{/each}}
            </div>
            <div id="season-10" class="season-range col l3 m6 s12">
                <h4>秋季</h4>
                {{#each season_10}}
                <ul class="seanson-list">
                    <li>
                        <i class="fa fa-heart">{{ star }}</i><a data-toggle="modal" data-target="#myModal" >{{ name }}</a>
                    </li>
                </ul>
                {{/each}}
            </div>
        </div>
    </div>
    <div id="modal">
    </div>
    <!-- {{> modal}} -->
</template>
